@import "/public/assets/css/custom.scss";

* {
    box-sizing: border-box;
}

body {
    /*Removing touch highlights on smartphones*/

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-top: 0;
    font-family: "Rubik", sans-serif;
}

a {
    text-decoration: none;
}



.carousel-item img:hover+.carousel-caption {
    opacity: 1;
}

carousel-item .custom-carousel-content {
    width: 50%;
    transform: translate(0%, -10%);
}

.custom-carousel-content {
    text-align: start;
}

.custom-carousel-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;

}

.custom-carousel-content h1:hover {

    transition: all 0.6s ease-in-out;
    color: #000000;
}

.custom-carousel-content h1 span {
    color: #fbff00;
}

.custom-carousel-content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.custom-carousel-content .btn-slider {
    box-shadow: inset 20px 0px 0px 0px #000000;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 25px;
    text-decoration: none;
}

.custom-carousel-content .btn-slider:hover {
    box-shadow: inset 150px 0px 0px 0px #000000;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    padding: 18px 25px;
    text-decoration: none;
    -moz-transform: scale(1.1) translate(-5px, 5px) skew(-7deg, 0deg);
    -webkit-transform: scale(1.1) translate(-5px, 5px) skew(-7deg, 0deg);
    -o-transform: scale(1.1) translate(-5px, 5px) skew(-7deg, 0deg);
    -ms-transform: scale(1.1) translate(-5px, 5px) skew(-7deg, 0deg);
    transform: scale(1.1) translate(-5px, 5px) skew(-7deg, 0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}





.flexMain {
    display: flex;
    align-items: center
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}



.flex3 {
    flex: 3
}

button.siteLink {
    margin-left: -5px;
    border: none;
    padding: 24px;
    display: inline-block;
    min-width: 115px;
}

.whiteLink {
    background: #fff;
}

/** Dropdown menu **/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 12px 16px;

}

.dropdown-content a {
    text-decoration: none;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 4px;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    white-space: nowrap;
    color: #000;
    overflow:visible;

}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: white;
    color: black !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.whiteLink:active {
    background: #000;
    color: #fff;
}

.blackLink {
    color: #fff;
    background: #232323;
    transition: all 300ms linear;
}

.blackLink:active {
    color: #000;
    background: #fff
}

#siteBrand {
    font-family: impact;
    letter-spacing: -1px;
    font-size: 32px;
    color: #252525;
    line-height: 1em;
}

.main-navbar{
    border-bottom: 1px solid #ccc;
    z-index: 999;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}

#menuDrawer {
    background: #fff;
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 12312;
    top: 0;
    left: 0;
    border-right: 1px solid #eaeaea;
    min-width: 25%;
    max-width: 320px;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 200ms linear;
}

#mainNavigation {
    transition: transform 200ms linear;
    background: #fff;
}

.drawMenu>#menuDrawer {
    transform: translateX(0%);
}

.drawMenu>#mainNavigation {
    transform: translateX(25%);
}

.fa-times {
    cursor: pointer
}

a.nav-menu-item:hover {
    margin-left: 2px;
    border-left: 10px solid black;
}

a.nav-menu-item {
    transition: border 200ms linear;
    text-decoration: none;
    display: block;
    padding: 18px;
    font-weight: bold;
    color: #343434;
    margin: 2px;
}

select.noStyle {
    border: none;
    outline: none
}

/* Category Start */
.category-card {
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}

.category-card a {
    text-decoration: none;
}

.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.category-card .category-card-body {
    padding: 10px 16px;
}

.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* Category End */




.cards {
    width: 300px;
    min-width: 300px;
    height: auto;
    background: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 10;
    margin: 25px;
    min-height: 356px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
}

.cards:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.cards h4 {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
}

.cards i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    font-size: 1.4rem;
    line-height: 3.2rem;
}

.cards .card-text {
    padding: 20px;
}

p {
    font-size: .8rem;
    opacity: .6;
    margin-top: 10px;
}

.cards .card-img {
    transform: translate(90px, -10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-out;
}

.cards img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
    transition: all .35s ease-out;

}

.cards img.blur {
    position: absulute;
    filter: blur(2px);
    z-index: -1;
    opacity: 1;
    transform: translate(-160px, 30px);
    transition: all .35s ease-out;
}

.cards:hover .card-img {
    transform: translate(70px, -15px);
}

.cards:hover .card-img img.blur {
    transform: translate(-100px, 35px) scale(.85);
    opacity: 0.70;
    filter: blur(1px);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 50px;
    scroll-behavior: smooth;
}

.card-content::-webkit-scrollbar {
    height: 0px;
}

.card-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.slider button {
    min-width: 60px;
    margin: auto 30px;
    height: 60px;
    border-radius: 20px;
    background: #fff;
    border: 0px;
    outline: none;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
    transition: all .25s ease;
}

.slider button:hover{
    box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.slider button i{
    font-size: 1.2rem;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(242, 243, 248);
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.slider:after {
    content: '';
    left: 98px;
    height: 90vh;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg, rgb(242, 243, 248) 0%, rgba(242, 243, 248, 0) 100%);
    pointer-events: none;
}

.slider:before {
    content: '';
    right: 98px;
    height: 90vh;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg, rgba(242, 243, 248, 0) 0%, rgba(242, 243, 248, 1) 100%);
    pointer-events: none;
}




.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;

}

.product-card:hover {
    box-shadow: 0 20px 15px #000000;

}

.badges {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.badges:hover {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: black;
    color: white;
    padding: 3px 10px;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: dark;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
    color: black;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: #ccc;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #8f6f6fa0;
    transition: 0.3s;
    font-size: 17px;
}

.product-links button  {
    display: inline-block;
    margin-left: 5px;
    color: #8f6f6fa0;
    transition: 0.3s;
    font-size: 17px;
    border: 0px;
    background-color: white;
}

.product-links button:hover  {
    color: red;
    border: 0px;
}



.product-links a:hover {
    color: red;
}


/* Search Button */


.searchform input,
.searchform button {
    float: left
}

.searchform input {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform input:focus {
    outline: none;
    box-shadow: 0 0 4px #0d76be inset;
    -moz-box-shadow: 0 0 4px #0d76be inset;
    -webkit-box-shadow: 0 0 10px white inset;
}

.searchform input::-webkit-input-placeholder {
    line-height: 15px;
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: black;
    border: none;
    color: white;

    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform button:hover {
    opacity: .4;
    cursor: pointer
}


/* Product View */
.product-view .product-name{
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-name .label-stock{
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {


    -webkit-appearance: none;
  }

  .number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .number-input button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
  }

  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .number-input input[type=number] {
    text-align: center;
  }

  .number-input.number-input {
    border: 1px solid black;
    width: 10rem;
    border-radius: .25rem;
  }

  .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
  }

  .number-input.number-input button.minus {
    padding-left: 10px;
  }

  .number-input.number-input button:before,
  .number-input.number-input button:after {
    width: .7rem;
    background-color: black;
  }


  .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
  }

  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

      .number-input.def-number-input.safari_only button:before,
      .number-input.def-number-input.safari_only button:after {
        margin-top: -.3rem;
      }
    }
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* Product View */

/* Wishlist */

.cart-table-container {
    margin-bottom: 2.5rem;
}

.cart-table-container .input-group .form-control {
    height: 25px;
    border-color: rgba(0, 0, 0, 0.09);
}

.cart-table-container .btn-shop,
.cart-table-container .btn-sm {
    border: none;
    background-color: #f4f4f4;
    color: #222529;
}

.cart-table-container .btn-shop:hover,
.cart-table-container .btn-sm:hover {
    color: #fff;
    background-color: #08c;
}

.table.table-cart tr td,
.table.table-cart tr th,
.table.table-wishlist tr td,
.table.table-wishlist tr th {
    vertical-align: middle;
}

.table.table-cart tr th,
.table.table-wishlist tr th {
    border: 0;
    color: #222529;
    font-weight: 500;
    line-height: 2rem;
    font-size: 14px;
    text-transform: uppercase;
}

.table.table-cart tr td,
.table.table-wishlist tr td {
    border-top: 1px solid #e7e7e7;
}

.table.table-cart tr td.product-col,
.table.table-wishlist tr td.product-col {
    padding: 2rem 0.8rem 1.8rem 0;
}

.table.table-cart tr.product-action-row td,
.table.table-wishlist tr.product-action-row td {
    padding: 0 0 2.2rem;
    border: 0;
}

.table.table-cart .product-image-container,
.table.table-wishlist .product-image-container {
    position: relative;
    width: 8rem;
    margin: 0;
}

.table.table-cart .product-title,
.table.table-wishlist .product-title {
    margin-bottom: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 16px;
}

.table.table-cart .product-title a,
.table.table-wishlist .product-title a {
    color: inherit;
    text-decoration: none;

}

.table.table-cart .subtotal-price,
.table.table-wishlist .subtotal-price {
    color: #222529;
    font-size: 1.6rem;
    font-weight: 600;
    font-size: 16px;
}

.table.table-cart .btn-remove,
.table.table-wishlist .btn-remove {
    right: 15px;
    font-size: 1.1rem;
}

.table.table-cart tfoot td,
.table.table-wishlist tfoot td {
    padding: 2rem 0.8rem 1rem;
}

.table.table-cart tfoot .btn,
.table.table-wishlist tfoot .btn {
    padding: 1.2rem 2.4rem 1.3rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    height: 43px;
    letter-spacing: -0.018em;
    font-size: 14px;
    padding: 0px 25px;
}

.table.table-cart tfoot .btn+.btn,
.table.table-wishlist tfoot .btn+.btn {
    margin-left: 1rem;
}

.table.table-cart .bootstrap-touchspin.input-group,
.table.table-wishlist .bootstrap-touchspin.input-group {
    margin-right: auto;
    margin-left: auto;
}

.table.table-cart .product-title a,
.table.table-cart .subtotal-price {
    display: block;
    margin-bottom: 1px;
}

.table-cart tr th {
    padding: 1rem;
}

.table-cart tr th.thumbnail-col {
    width: 16%;
}

.table-cart tr th.product-col {
    width: 33%;
}

.table-cart tr th.price-col {
    width: 14%;
}

.table-cart td {
    padding: 1rem 1rem;
}

i.cart-empty {
    font-size: 100px;
    color: #d3d3d4;
}


.qty-col {
    min-width: 98px;
}

tbody .product-col {
    font-size: 0;
}

.product-col .product-image-container {
    display: table-cell;
    padding-right: 1.8rem;
    margin-bottom: 0;
    vertical-align: middle;
}

.product-col .product-image img {
    border: 1px solid #ccc;
}

.product-col .product-title {
    margin-bottom: 1px;
    display: table-cell;
    vertical-align: middle;
}

.cart-discount {
    margin-bottom: 2rem;
}

.cart-discount h4 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.cart-discount form {
    max-width: 420px;
}

.cart-discount .input-group-append {
    margin-left: 3px;
}

.cart-summary {
    margin-bottom: 1.6rem;
    padding: 1.5rem;
    border: 1px solid #e7e7e7;
    background: #fff;
}

.cart-summary h3 {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: -0.01em;
}

.product-image img {
    width: 100px;
    height: 100px;
}

.quantity-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quantity-wrapper label {
    font-weight: 300;
    color: #666666;
    font-size: 15px;
    margin-bottom: 0;
}

.quantity-wrapper .input-group {
    width: 100px;
    margin: 0 10px;
}

.quantity-wrapper input {
    width: 35px !important;
    pointer-events: none;
    padding: 0;
    border: 0;
    text-align: center;
    margin-left: auto !important;
    position: initial !important;
}

.quantity-wrapper .input-group-btn {
    border: 1px solid #d5d5d5;
    border-radius: 50px !important;
    display: flex;
}

.quantity-wrapper .btn {
    padding: 0;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-shadow: none;
}

.quantity-wrapper .bx {
    font-size: 16px;
}

.promo-code-area h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.apply-coupon-btn {
    color: #fff;
}

.apply-coupon-btn:hover {
    color: #fff;
}

.cart-discount input {
    box-shadow: none !important;
    outline: none !important;
}

.table-totals tfoot tr td:last-child {
    text-align: right;
}

.checkout-methods {
    text-align: center;
}

.btn-remove {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: #474747;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
    text-align: center;
    line-height: 2rem;
}
.icon-cancel{
    text-decoration: none;
}
.icon-cancel:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}

/* /* wishlist Button *\ */

.wishlist-btn {
    background-color: black;
    color: #fff;
    font-weight: 300;
    height: 35px;
    letter-spacing: -0.018em;
    font-size: 14px;
    border-radius: 50px;
}
/* /* wishlist Button  HOvver *\ */

.wishlist-btn:hover {
    background-color: #fff;
    color: black;
    font-weight: 300;
    height: 35px;
    letter-spacing: -0.018em;
    font-size: 14px;
    border-radius: 50px;
}

